template(name='layout')
	+menu
	+yield

template(name='menu')
	.navbar-fixed: nav.teal: .nav-wrapper
		ul.left
			li: a Home
		a.brand-logo.center= navTitle
		ul.right
			if currentUser
				li: a= startCase(currentUser.username)
				li: a(href='/panduan') Panduan
				li: a#refresh Refresh
				li: a#logout Logout
			else			
				li: a(href='/login') Login
	if currentUser
		ul.fixed.side-nav.z-depth-2
			li.grey.lighten-2: a.center: b= today
			each menus
				li: a.waves-effect.waves-teal(href='/{{name}}')
					span: b= full
					i.material-icons.right#sideIcon(class='{{color}}-text')= icon

template(name='home'): .container
	h4 Beranda

template(name='loading'): .container
	.progress.center: .indeterminate

template(name='pasien'): .container
	h5 Daftar Nama Pasien
	.row: .col.m4: .divider
	.row
		.col.m6
			unless currentPar 'no_mr'
				.input-field: input#search(value= search placeholder= 'Cari Nama Pasien / No.MR')
		.col.m6
			with selPol
				form#selPol
					each selPol
						input(name='poli' type='radio' id= value)
						label(for= value)= label
			if showButton
				.right.btn#showForm= showButtonText
			if preview
				a.btn.modal-trigger(href='#preview') View

	if showForm
		+quickForm(
			collection= coll.pasien
			schema= schema
			type= formType
			id = 'formPasien'
			scope = 'rawat'
			doc= pasiens
			buttonContent = 'simpan'
			omitFields= omitFields
		)
	unless currentPar 'no_mr'
		table.bordered
			thead
				tr
					th No MR
					th Nama
					th Orang Tua
					th Alamat
					th Jenis Kelamin
					th Tgl Lahir
			tbody
				each pasiens
					tr#row
						td= zeros(no_mr)
						td= startCase(regis.nama_lengkap)
						td
							span= regis.ayah
							span= regis.ibu
						td= regis.alamat
						td {{look 'kelamin' regis.kelamin 'label'}}
						td= hari(regis.tgl_lahir)
		if pasiens
			+pagination(name= 'pasien')
		if userRole 'admin'
			+import
			if routeIs 'regis'
				+report(jenis='pendaftaran')
			else if routeIs 'jalan'
				+report(jenis='rawat_jalan')
		if routeIs 'bayar'
			h5 Daftar Bayar
			table.bordered
				thead
					tr
						th No MR
						th Nama
						th Tanggal
						th Total Biaya
						th Cara Bayar
						th Klinik
						th Aksi
				tbody
					each pasien in pasiens
						if pasien.regis.billCard
							tr
								td= zeros(pasien.no_mr)
								td= pasien.regis.nama_lengkap
								td= hari(pasien.regis.date)
								td Rp 10,000
								td {{look 'cara_bayar' pasien.regis.cara_bayar 'label'}}
								td -
								td
									a#bill(
										pasien= pasien.no_mr
									) Bayar
						each item in pasien.rawat
							unless item.billRegis
								tr
									td= zeros(pasien.no_mr)
									td= pasien.regis.nama_lengkap
									td= hari(item.tanggal)
									td Rp 30,000
									td {{look 'cara_bayar' item.cara_bayar 'label'}}
									td -
									td
										a#bill(
											pasien= pasien.no_mr
											idbayar= item.idbayar
										) Bayar
							if isTrue item.cara_bayar 1
								unless item.status_bayar
									unless isTrue item.total.semua 0
										tr
											td= zeros(pasien.no_mr)
											td= pasien.regis.nama_lengkap
											td= hari(item.tanggal)
											td= rupiah(item.total.semua)
											td {{look 'cara_bayar' item.cara_bayar 'label'}}
											td {{look 'klinik' item.klinik 'label'}}
											td
												a#bayar(
													pasien= pasien.no_mr
													idbayar= item.idbayar
												) Bayar
			br
			if userRole 'admin'
				+report(jenis='pembayaran')
		if routeIs 'labor'
			h5 Daftar Request Labor
			table.bordered
				thead
					tr
						th No. MR
						th Pasien
						th Grup
						th Order
						th Aksi
				tbody
					each pasien in pasiens
						each item in pasien.rawat
							if item.status_bayar
								if item.labor
									each labor in item.labor
										unless labor.hasil
											tr
												td= zeros(pasien.no_mr)
												td= pasien.regis.nama_lengkap
												td {{look2 'tarif' labor.nama 'grup'}}
												td {{look2 'tarif' labor.nama 'nama'}}
												td
													a#request(
														pasien= pasien.no_mr
														idbayar= item.idbayar
														jenis= 'labor'
														idjenis= labor.idlabor
													) Isi
		if routeIs 'radio'
			h5 Daftar Request Radiologi
			table.bordered
				thead
					tr
						th No. MR
						th Pasien
						th Order
						th Aksi
				tbody
					each pasien in pasiens
						each item in pasien.rawat
							if item.status_bayar
								if item.radio
									each radio in item.radio
										unless radio.hasil
											tr
												td= zeros(pasien.no_mr)
												td= pasien.regis.nama_lengkap
												td {{look2 'tarif' radio.nama 'nama'}}
												td
													a#request(
														pasien= pasien.no_mr
														idbayar= item.idbayar
														jenis = 'radio'
														idjenis= radio.idradio
													) Aksi
		if routeIs 'obat'
			h5 Daftar Request Obat
			table.bordered
				thead
					tr
						th No. MR
						th Pasien
						th Nama Obat
						th Kali
						th Dosis
						th Bentuk
						th Jumlah
						th Serah
				tbody
					each pasien in pasiens
						each item in pasien.rawat
							if item.status_bayar
								if item.obat
									each obat in item.obat
										unless obat.hasil
											tr
												td= zeros(pasien.no_mr)
												td= pasien.regis.nama_lengkap
												td {{look2 'gudang' obat.nama 'nama'}}
												td= obat.aturan.kali
												td= obat.aturan.dosis
												td {{look 'bentuk' obat.aturan.bentuk 'label'}}
												td= obat.jumlah
												td
													a#request(
														pasien= pasien.no_mr
														idbayar= item.idbayar
														jenis = 'obat'
														idjenis= obat.idobat
													) Serah
	if currentPar 'no_mr'
		with pasiens
			if routeIs 'regis'
				.row
					.left.purple.btn#card Cetak
					.left.purple.btn#consent Consent
			.row
				.col.m6
					table
						tr
							th No MR
							td= zeros(no_mr)
						tr
							th Nama Lengkap
							td= regis.nama_lengkap
						tr
							th Tempat Tinggal
							td= regis.alamat
				.col.m6
					table
						tr
							th Tanggal Lahir
							td= hari(regis.tgl_lahir)
						tr
							th Tempat Lahir
							td= regis.tmpt_lahir
						tr
							th Umur
							td= umur(regis.tgl_lahir)
			if userRole 'admin'
				.red.btn#rmPasien Hapus
			.right.orange.btn#close Tutup
			if rawat
				table.bordered
					thead
						tr
							th Tanggal
							th Klinik
							th Cara Bayar
							th Bayar Tindakan
							th Cek
							if userRole 'admin'
								th Hapus
					tbody
						each sortBy rawat 'tanggal' 'asc'
							tr
								td= hari(tanggal)
								td {{look 'klinik' klinik 'label'}}
								td {{look 'cara_bayar' cara_bayar 'label'}}
								if status_bayar
									td Sudah
								else
									td Belum
								td: a.modal-trigger(href='#preview') cek
								if userGroup 'regis'
									if userRole 'admin'
										td: a#rmRawat hapus
	with preview
		.modal#preview
			.modal-content
				table
					tr
						th Tanggal
						td= hari(tanggal)
						th Cara Bayar
						td {{look 'cara_bayar' cara_bayar 'label'}}
						th Klinik
						td {{look 'klinik' klinik 'label'}}
					br
					br
				if anamesa
					h5 Anamesa Pasien
					p= anamesa
				if diagnosa
					h5 Diagnosa Pasien
					p= diagnosa
				br
				br
				if tindakan
					h5 Daftar Tindakan
					table
						thead
							tr
								th Tindakan
								th Dokter
								th Harga
						tbody
							each tindakan
								tr
									td {{look2 'tarif' nama 'nama'}}
									td {{look2 'dokter' dokter 'nama'}}
									td= rupiah(harga)
					br
					br
				if labor
					h5 Daftar Laboratorium
					table
						thead
							tr
								th Grup
								th Order
								th Hasil
						tbody
							each labor
								tr
									td {{look2 'tarif' nama 'grup'}}
									td {{look2 'tarif' nama 'nama'}}
									td= hasil
					br
					br
				if obat
					h5 Daftar Obat
					table
						thead
							tr
								th Nama
								th Dosis
								th Bentuk
								th Kali
								th Jumlah
						tbody
							each obat
								tr
									td {{look2 'gudang' nama 'nama'}}
									td= aturan.dosis
									td {{look 'bentuk' aturan.bentuk 'label'}}
									td= aturan.kali
									td= jumlah
					br
					br
				if radio
					h5 Daftar Radiologi
					table
						thead
							tr
								th Order
								th Arsip
						tbody
							each radio
								tr
									td {{look2 'tarif' nama 'nama'}}
									td= hasil
					br
					br
				with total
					table
						tr
							if tindakan
								th Total Tindakan
								td= rupiah(tindakan)
							if labor
								th Total Labor
								td= rupiah(labor)
						tr
							if radio
								th Total Radio
								td= rupiah(radio)
							if obat
								th Total Obat
								td= rupiah(obat)
						tr
							if semua
								th Total Semua
								td: b= rupiah(semua)

template(name='import')
	.file-field.input-field
		.btn.left
			span Impor Data
			input(type='file' name='upload')
		.file-path-wrapper
			input.file-path.wrapper(type='text')

template(name='gudang'): .container
	h5 Daftar Barang Gudang
	.row
		.col.m8
			.input-field: input#search(value= search placeholder='Nama Obat / Batch')
		.col.m4
			if userGroup 'farmasi'
				.right.btn#showForm Tambah
	if showForm
		+quickForm(
			collection= coll.gudang
			schema= schemagudang
			type= formType
			id = 'formGudang'
			scope = 'batch'
			doc= gudangs
		)
	unless currentPar 'idbarang'
		table.bordered
			thead
				tr
					th ID Barang
					th Jenis Barang
					th Nama Barang
					if userRole 'admin'
						th Hapus
			tbody
				each gudangs
					tr#row
						td= idbarang
						td= jenis
						td= nama
						if userRole 'admin'
							td: a#rmBarang hapus

	if currentPar 'idbarang'
		h5 Rincian Barang
		with gudangs
			table
				tr
					th ID Barang
					td= idbarang
				tr
					th Nama
					td= nama
			br
			table
				thead
					tr
						th No. Batch
						th Masuk
						th Kadaluarsa
						th Beli
						th Jual
						th Di Gudang
						th Di Apotik
						th Suplier
				tbody
					each batch
						tr#transfer
							td= nobatch
							td= hari(masuk)
							td= hari(kadaluarsa)
							td= beli
							td= jual
							td= digudang
							td= diapotik
							td= suplier
	+import

template(name='manajemen'): .container
	h5
		unless onUser
			span Tambahkan Karyawan
		else
			span Berikan Peranan
	form#userForm
		input(name='username' placeholder='Username' value= onUser.username)
		unless onUser
			input(name='password' placeholder='Password' type='password')
			input(name='repeat' placeholder='Ulangi Password' type='password')
		if onUser
			.row
				p Peranan
				each val in selRoles
					input(type='radio' name='role' id=val)
					label(for=val)= startCase(val)
			.row
				p Grup
				each modules
					input(type='radio' name='group' id=name)
					label(for=name)= full
			.row
				p Poli
				each klinik
					input(type='radio' name='poli' id=label)
					label(for=label)= label
		input.btn(type='submit')
	.right.orange.btn#close Close
	h5 Daftar Karyawan
	table
		thead
			tr
				th Username
				th Peran
				th Aksi
		tbody
			each users
				tr#row
					td= username
					td= stringify(roles)
					td: a#reset Reset

	h5 Tambahkan Dokter
	+quickForm(
		collection= coll.dokter
		schema= schemadokter
		type= 'insert'
		id= 'formDokter'
	)
	h5 Daftar Dokter
	table
		thead
			tr
				th Nama
				th Tipe
				th Poli
		tbody
			each dokters
				tr
					td= nama
					td {{look 'tipe_dokter' tipe 'label'}}
					td {{look 'klinik' poli 'label'}}
	+pagination(name= 'dokter')

	h5 Tambahkan Tarif
	+quickForm(
		collection= coll.tarif
		schema= schematarif
		type= 'insert'
		id= 'formTarif'
	)
	h5 Daftar Tarif
	table
		thead
			tr
				th Jenis
				th Nama
				th Harga
				th Grup
		tbody
			each tarifs
				tr
					td= startCase(jenis)
					td= startCase(nama)
					td= rupiah(harga)
					td= grup
	+pagination(name= 'tarif')
	+import
	.row
		.col.m2: .purple.btn#export Ekspor
		.col.m10: .input-field: select#export
			option(value='') Pilih jenis ekspor
			option(value='regis') Identitas Pasien
			option(value='jalan') Rawat Jalan
			option(value='obat') Daftar Obat

template(name='login')
	.fullscreen.slider: ul.slides: li
		img(src='login_bg.jpg')
		.caption.center-align
			br
			br
			br
			.row
				.col.m4
				.col.m4
					h5 Login SIMRS
					form
						input.white-text(name='username' placeholder='Username')
						input.white-text(name='password' placeholder='Password' type='password')
						input.btn(type='submit' value='Masuk')

template(name='pagination')
	ul.pagination.center
		li: a(href='#'): i.material-icons#prev chevron_left
		each val in pagins name
			li: a#num(href='#')= val
		li: a(href='#'): i.material-icons#next chevron_right

template(name='report')
	h5 Laporan {{startCase jenis}}
	.row
		.col.m6: input.datepicker#start(type='text' date='start' placeholder='Mulai')
		.col.m6: input.datepicker#end(type='text' date='end' placeholder='Akhir')
		table.bordered
			with datas jenis
				thead
					each val in headers
						th= val
				tbody
					each val in rows
						tr
							each item in val
								td= item
