template(name='layout')
	+menu
	+yield

template(name='menu')
	.navbar-fixed: nav: .nav-wrapper
		ul.left
			li: a Home
		a.brand-logo.center RSPB
		ul.right
			li: a Login

template(name='home'): .container
	h4 Beranda

template(name='modul'): .container
	h5 Tabel Pasien
	.right.btn#addPasien + Pasien
	if addPasien
		+quickForm(
			collection= coll
			schema= schema
			type = 'insert'
			id = 'insertPasien'
		)
	unless pasienData
		table
			thead
				tr
					th No MR
					th Nama
			tbody
				each pasiens
					tr#row
						td= no_mr
						td= regis.nama_lengkap
	with pasienData
		table
			tr
				th No MR
				td= no_mr
			tr
				th Nama Lengkap
				td= regis.nama_lengkap
		if jalan
			table
				thead
					tr
						th Cara Bayar
						th Status Bayar
				tbody
					each jalan
						tr
							td= cara_bayar
							td= status_bayar
