template(name='layout')
	+menu
	+yield

template(name='menu')
	.navbar-fixed: nav.teal: .nav-wrapper
		ul.left
			li: a Home
		a.brand-logo.center RSPB
		ul.right
			li: a Login
	ul.fixed.side-nav.z-depth-2
		li.grey.lighten-2: a.center: b Menu Admin
		each menus
			li: a.waves-effect.waves-teal(href='/{{name}}')
				span: b= full
				i.material-icons.right#sideIcon(class='{{color}}-text')= icon

template(name='home'): .container
	h4 Beranda

template(name='loading'): .container
	.progress.center: .indeterminate

template(name='modul'): .container
	h5 Daftar Nama Pasien
	.row
		.col.m6
			.input-field: input#search(value= search)
		.col.m6
			if showButton
				.right.btn#addPasien Tambah
	if addPasien
		+quickForm(
			collection= coll
			schema= schema
			type= formType
			id = 'formPasien'
			scope= route
			doc= pasienData
		)
	unless currentMR
		table
			thead
				tr
					th No MR
					th Nama
					th Alamat
					th Jenis Kelamin
					th Tgl Lahir
			tbody
				each pasiens
					tr#row
						td= no_mr
						td= regis.nama_lengkap
						td= regis.alamat
						td {{look 'kelamin' regis.kelamin}}
						td= hari(regis.tgl_lahir)
		+import
	if currentMR
		with pasiens
			.left.purple.btn#card Cetak
			table
				tr
					th No MR
					td= no_mr
				tr
					th Nama Lengkap
					td= regis.nama_lengkap
				tr
					th Tanggal Lahir
					td= hari(regis.tgl_lahir)
				tr
					th Tempat Lahir
					td= regis.tmpt_lahir
				tr
					th Umur
					td= umur(regis.tgl_lahir)
			.right.orange.btn#close Tutup
			if jalan
				table
					thead
						tr
							th Cara Bayar
							th Status Bayar
					tbody
						each jalan
							tr
								td= cara_bayar
								td= status_bayar

template(name='import')
	.file-field.input-field
		.btn.left
			span Impor Data
			input(type='file' name='upload')
		.file-path-wrapper
			input.file-path.wrapper(type='text')
