template(name='layout')
	+menu
	+yield

template(name='menu')
	.navbar-fixed: nav.teal: .nav-wrapper
		ul.left
			li: a Home
		a.brand-logo.center= navTitle
		ul.right
			li: a(href='/users') Users
			if currentUser
				li: a= startCase(currentUser.username)
				li: a#logout Logout
			else			
				li: a(href='/login') Login
	ul.fixed.side-nav.z-depth-2
		if currentUser
			li.grey.lighten-2: a.center: b= today
			each menus
				li: a.waves-effect.waves-teal(href='/{{name}}')
					span: b= full
					i.material-icons.right#sideIcon(class='{{color}}-text')= icon

template(name='home'): .container
	h4 Beranda

template(name='loading'): .container
	.progress.center: .indeterminate

template(name='pasien'): .container
	h5 Daftar Nama Pasien
	.row
		.col.m6
			unless currentPar 'no_mr'
				.input-field: input#search(value= search placeholder= 'Nama Pasien / No.MR')
		.col.m6
			if showButton
				.right.btn#showForm= showButtonText
			if preview
				a.btn.modal-trigger(href='#preview') View

	if showForm
		+quickForm(
			collection= coll.pasien
			schema= schema
			type= formType
			id = 'formPasien'
			scope = 'rawat'
			doc= pasiens
			buttonContent = 'simpan'
			omitFields= omitFields
		)
	unless currentPar 'no_mr'
		table
			thead
				tr
					th No MR
					th Nama
					th Alamat
					th Jenis Kelamin
					th Tgl Lahir
			tbody
				each pasiens
					tr#row
						td= no_mr
						td= regis.nama_lengkap
						td= regis.alamat
						td {{look 'kelamin' regis.kelamin 'label'}}
						td= hari(regis.tgl_lahir)
		+import
		if routeIs 'bayar'
			h5 Daftar Bayar
			table.bordered
				thead
					tr
						th No MR
						th Nama
						th Tanggal
						th Total Biaya
						th Cara Bayar
						th Aksi
				tbody
					each pasien in pasiens
						if pasien.regis.billCard
							tr
								td= pasien.no_mr
								td= pasien.regis.nama_lengkap
								td= hari(pasien.regis.date)
								td Rp 10,000
								td {{look 'cara_bayar' pasien.regis.cara_bayar 'label'}}
								td
									a#bill(
										pasien= pasien.no_mr
									) Bayar
						each item in pasien.rawat
							unless item.billRegis
								tr
									td= pasien.no_mr
									td= pasien.regis.nama_lengkap
									td= hari(item.tanggal)
									td Rp 30,000
									td {{look 'cara_bayar' item.cara_bayar 'label'}}
									td
										a#bill(
											pasien= pasien.no_mr
											idbayar= item.idbayar
										) Bayar
							unless item.status_bayar
								unless isZero item.total.semua
									tr
										td= pasien.no_mr
										td= pasien.regis.nama_lengkap
										td= hari(item.tanggal)
										td= rupiah(item.total.semua)
										td {{look 'cara_bayar' item.cara_bayar 'label'}}
										td
											a#bayar(
												pasien= pasien.no_mr
												idbayar= item.idbayar
											) Bayar
		if routeIs 'labor'
			h5 Daftar Request Labor
			table.bordered
				thead
					tr
						th No. MR
						th Pasien
						th Grup
						th Order
						th Normal
						th Satuan
						th Aksi
				tbody
					each pasien in pasiens
						each item in pasien.rawat
							if item.status_bayar
								if item.labor
									each labor in item.labor
										unless labor.hasil
											tr
												td= pasien.no_mr
												td= pasien.regis.nama_lengkap
												td {{look 'labor' labor.nama 'grup'}}
												td {{look 'labor' labor.nama 'label'}}
												td {{look 'labor' labor.nama 'normal'}}
												td {{look 'labor' labor.nama 'satuan'}}
												td
													a#request(
														pasien= pasien.no_mr
														idbayar= item.idbayar
														jenis= 'labor'
														idjenis= labor.idlabor
													) Isi
		if routeIs 'radio'
			h5 Daftar Request Radiologi
			table.bordered
				thead
					tr
						th No. MR
						th Pasien
						th Order
						th Aksi
				tbody
					each pasien in pasiens
						each item in pasien.rawat
							if item.status_bayar
								if item.radio
									each radio in item.radio
										unless radio.hasil
											tr
												td= pasien.no_mr
												td= pasien.regis.nama_lengkap
												td= radio.nama
												td
													a#request(
														pasien= pasien.no_mr
														idbayar= item.idbayar
														jenis = 'radio'
														idjenis= radio.idradio
													) Aksi
		if routeIs 'obat'
			h5 Daftar Request Obat
			table.bordered
				thead
					tr
						th No. MR
						th Pasien
						th Nama Obat
						th Kali
						th Dosis
						th Bentuk
						th Jumlah
						th Serah
				tbody
					each pasien in pasiens
						each item in pasien.rawat
							if item.status_bayar
								if item.obat
									each obat in item.obat
										unless obat.hasil
											tr
												td= pasien.no_mr
												td= pasien.regis.nama_lengkap
												td= obat.nama
												td= obat.aturan.kali
												td= obat.aturan.dosis
												td {{look 'bentuk' obat.aturan.bentuk 'label'}}
												td= obat.jumlah
												td
													a#request(
														pasien= pasien.no_mr
														idbayar= item.idbayar
														jenis = 'obat'
														idjenis= obat.idobat
													) Serah
	if currentPar 'no_mr'
		with pasiens
			if routeIs 'regis'
				.row
					.left.purple.btn#card Cetak
					.left.purple.btn#consent Consent
			.row
				.col.m6
					table
						tr
							th No MR
							td= no_mr
						tr
							th Nama Lengkap
							td= regis.nama_lengkap
						tr
							th Tempat Tinggal
							td= regis.alamat
				.col.m6
					table
						tr
							th Tanggal Lahir
							td= hari(regis.tgl_lahir)
						tr
							th Tempat Lahir
							td= regis.tmpt_lahir
						tr
							th Umur
							td= umur(regis.tgl_lahir)
			.right.orange.btn#close Tutup
			if rawat
				table
					thead
						tr
							th Tanggal
							th Klinik
							th Cara Bayar
							th Status Bayar
							th Cek
					tbody
						each reverse rawat
							tr
								td= hari(tanggal)
								td {{look 'klinik' klinik 'label'}}
								td {{look 'cara_bayar' cara_bayar 'label'}}
								if status_bayar
									td Sudah
								else
									td Belum
								td: a.modal-trigger(href='#preview') cek
	with preview
		.modal#preview
			.modal-content
				table
					tr
						th Tanggal
						td= hari(tanggal)
						th Cara Bayar
						td {{look 'cara_bayar' cara_bayar 'label'}}
						th Klinik
						td {{look 'klinik' klinik 'label'}}
					br
					br
				if tindakan
					h5 Daftar Tindakan
					table
						thead
							tr
								th Diagnosa
								th Tindakan
								th Dokter
								th Harga
						tbody
							each tindakan
								tr
									td= diagnosa
									td {{look 'tindakan' nama 'label'}}
									td {{look 'dokter' dokter 'label'}}
									td= rupiah(harga)
					br
					br
				if labor
					h5 Daftar Laboratorium
					table
						thead
							tr
								th Grup
								th Order
								th Normal
								th Satuan
								th Hasil
						tbody
							each labor
								tr
									td {{look 'labor' nama 'grup'}}
									td {{look 'labor' nama 'label'}}
									td {{look 'labor' nama 'normal'}}
									td {{look 'labor' nama 'satuan'}}
									td= hasil
					br
					br
				if obat
					h5 Daftar Obat
					table
						thead
							tr
								th Nama
								th Dosis
								th Bentuk
								th Kali
								th Jumlah
						tbody
							each obat
								tr
									td= nama
									td= aturan.dosis
									td {{look 'bentuk' aturan.bentuk 'label'}}
									td= aturan.kali
									td= jumlah
					br
					br
				if radio
					h5 Daftar Radiologi
					table
						thead
							tr
								th Order
								th Arsip
						tbody
							each radio
								tr
									td {{look 'radio' nama 'label'}}
									td= hasil
					br
					br
				with total
					table
						tr
							if tindakan
								th Total Tindakan
								td= rupiah(tindakan)
							if labor
								th Total Labor
								td= rupiah(labor)
						tr
							if radio
								th Total Radio
								td= rupiah(radio)
							if obat
								th Total Obat
								td= rupiah(obat)
						tr
							if semua
								th Total Semua
								td: b= rupiah(semua)

template(name='import')
	.file-field.input-field
		.btn.left
			span Impor Data
			input(type='file' name='upload')
		.file-path-wrapper
			input.file-path.wrapper(type='text')

template(name='gudang'): .container
	h5 Daftar Barang Gudang
	.row
		.col.m8
			.input-field: input#search(value= search placeholder='Nama Obat / Batch')
		.col.m4
			.right.btn#showForm Tambah
	if showForm
		+quickForm(
			collection= coll.gudang
			schema= schema
			id = 'formGudang'
			type = 'insert'
		)
	unless currentPar 'idbarang'
		table.bordered
			thead
				tr
					th ID Barang
					th Jenis Barang
					th Nama Barang
					th Harga Barang
			tbody
				each gudangs
					tr#row
						td= idbarang
						td= jenis
						td= nama
						td= harga

	if currentPar 'idbarang'
		h5 Rincian Barang
		with gudangs
			table
				tr
					th ID Barang
					td= idbarang
				tr
					th Nama
					td= nama
				tr
					th Harga
					td= harga
			table
				thead
					tr
						th ID Batch
						th Masuk
						th Kadaluarsa
						th Beli
						th Jual
						th Di Gudang
						th Di Apotik
						th Suplier
				tbody
					each batch
						tr#transfer
							td= idbatch
							td= hari(masuk)
							td= hari(kadaluarsa)
							td= beli
							td= jual
							td= digudang
							td= diapotik
							td= suplier

template(name='users'): .container
	h5
		unless onUser
			span Tambahkan Karyawan
		else
			span Berikan Peranan
	form
		input(name='username' placeholder='Username' value= onUser.username)
		unless onUser
			input(name='password' placeholder='Password' type='password')
			input(name='repeat' placeholder='Ulangi Password' type='password')
		if onUser
			.row
				p Peranan
				each val in selRoles
					input(type='radio' name='role' id=val)
					label(for=val)= startCase(val)
			.row
				p Grup
				each modules
					input(type='radio' name='group' id=name)
					label(for=name)= full
		input.btn(type='submit')
	.right.orange.btn#close Close
	h5 Daftar Karyawan
	table
		thead
			tr
				th Username
				th Peran
		tbody
			each users
				tr#row
					td= username
					td= stringify(roles)

template(name='login'): .container
	h5.center Login SIMRS
	form
		input(name='username' placeholder='Username')
		input(name='password' placeholder='Password' type='password')
		input.btn(type='submit' value='Masuk')
