template(name='layout')
	+menu
	+yield

template(name='menu')
	.navbar-fixed: nav.teal: .nav-wrapper
		ul.left
			li: a Home
		a.brand-logo.center RSPB
		ul.right
			li: a Login

template(name='home'): .container
	h4 Beranda

template(name='loading'): .container
	.progress.center: .indeterminate

template(name='modul'): .container
	h5 Tabel Pasien
	.right.btn#addPasien.hide Tambah
	if addPasien
		+quickForm(
			collection= coll
			schema= schema
			type= formType
			id = 'formPasien'
			scope= route
			doc= pasienData
		)
	unless pasienData
		table
			thead
				tr
					th No MR
					th Nama
			tbody
				each pasiens
					tr#row
						td= no_mr
						td= regis.nama_lengkap
	with pasienData
		.left.purple.btn#card Cetak
		table
			tr
				th No MR
				td= no_mr
			tr
				th Nama Lengkap
				td= regis.nama_lengkap
			tr
				th Tanggal Lahir
				td= hari(regis.tgl_lahir)
			tr
				th Tempat Lahir
				td= regis.tmpt_lahir
			tr
				th Umur
				td= umur(regis.tgl_lahir)
		.right.orange.btn#close Tutup
		if jalan
			table
				thead
					tr
						th Cara Bayar
						th Status Bayar
				tbody
					each jalan
						tr
							td= cara_bayar
							td= status_bayar
